@page "/products/view/{ProductId:int}"
@inject IProductProxy _proxy;

<div class="row my-2">
    <h3 class="text-primary">View Product</h3>

    <div class="border p-2 mb-2">
        <label>Name : </label> <span>@model.ProductName</span><br />
        <label>Price : </label> <span>@model.ProductPrice.ToString("n2")</span>
    </div>

    <div>
        <NavLink href="products" class="btn btn-secondary">Back</NavLink>
    </div>
</div>

@code {
    [Parameter]
    public int ProductId { get; set; }

    public ViewProductViewModel model = new ViewProductViewModel();

    protected override async Task OnInitializedAsync()
    {
        var result = await _proxy.GetProductAsync(ProductId);
        model.ProductId = result.ProductId;
        model.ProductName = result.ProductName;
        model.ProductPrice = result.ProductPrice;
    }
}
